body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    text-align: center;
    padding: 1rem;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.video-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and transparency */
}

.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   
}

.contact-info,
.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.info-container,
.social-container {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the container background color and transparency */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    margin-right: 1rem;
 
}

.info-container p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* Social Media Section Styles */
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 0;
    width: 130%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    box-shadow:  2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Ensure the navigation is above other elements */
    margin-left: -20%;
}


nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}

nav a:hover {
    color: #6f804a;
}